@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body,
#root {
  box-sizing: border-box;
  min-width: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #161417;
}

div#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#app > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

div#app > div section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section h2 {
  color: #6c18cf;
}

section div#preview {
  color: #DD92FD;
  border: 1px solid #C765F2;
  box-shadow: -3px 1px 10px #C765F2;
  background-color: #0f0e10;
  padding: 7px;
  overflow: auto;
  height: 400px;
  width: 600px;
}

section #editor {
  resize: none;
  outline: none;
  color: #DD92FD;
  box-shadow: 3px 1px 10px #C765F2;
  border: 1px solid #C765F2;
  background-color: #0f0e10;
  overflow: auto;
  padding: 7px;
  height: 400px;
  width: 600px;
}

div#app h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #6c18cf;
}

div#app footer {
  font-size: 12px;
  color: #6c18cf;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 3px;
}
